body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #434455;
}

.page-nav .page-logo {
    text-transform: uppercase;
    font-family: "Raleway",
    sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #4D5AE5;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.page-nav .page-logo-accent-first {
    color: #2E2F42;
}

.nav-links .nav-links-studio,
.nav-links .nav-links-portfolio,
.nav-links .nav-links-contacts
{
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.nav-links .nav-links-studio:hover,
.nav-links .nav-links-studio:focus,
.nav-links .nav-links-portfolio:hover,
.nav-links .nav-links-portfolio:focus,
.nav-links .nav-links-contacts:hover,
.nav-links .nav-links-contacts:focus
{
    color: #404BBF;
}

.nav-links:active {
    color: #404BBF;
    text-decoration: underline;
}

.address-links:hover,
.address-links:focus
{
    color: #404BBF;
}

.header {
    background-color: #2E2F42;
    color: white;
}

.header .page-button {
    background-color: #4D5AE5;
    color: white;
}

.header .page-button:hover, 
.header .page-button:focus {
    background-color: #404BBF;
    color: white;
}